
h1{
  text-align: center;
  margin-top: 2rem;
  font-size:2rem;
  font-weight: bold;
  color: rgb(255, 145, 0);
  border: 1px solid;
  margin-left: 20rem;
  margin-right: 20rem;
  background-color: rgb(0, 0, 0);
  border-radius:1rem;
}
.image_info{
  margin-top: 1rem; 
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
  width: 20rem;
  height: 6rem;
}
#title{
  font-weight: bold;

}
#description{
  font-family: Arial, Helvetica, sans-serif;
}

.container{
display: flex;
flex-direction: row;
height: 100vh;
flex-wrap: wrap;
max-height: 200px;
margin-top: 2rem;
margin-left: 2rem;
}
.image{
  flex: 1;
  margin-top: 2rem;
  font-size: 1.2rem;
  
}
img{ 
  width: 25rem;
  height: 15rem;
  object-fit: cover;
}

img:hover{
  border: 3px solid rgb(0, 0, 0);
}
@media screen  and ( max-width: 1400px){
  h1{
  text-align: center;
  margin-top: 2rem;
  font-size:2rem;
  font-weight: bold;
  color: rgb(255, 145, 0);
  border: 1px solid;
  margin-left: 15rem;
  margin-right: 15rem;
  background-color: rgb(0, 0, 0);
  border-radius:2rem;
  }
}
@media screen  and ( max-width: 700px){
  h1{
  text-align: center;
  margin-top: 2rem;
  font-size:2rem;
  font-weight: bold;
  color: rgb(255, 145, 0);
  border: 1px solid;
  margin-left: 7rem;
  margin-right: 7rem;
  background-color: rgb(0, 0, 0);
  border-radius:1rem;
  }
}
  
